//@primary-background-color: #284868;
//@primary-text-color: #f7dca1;

@primary-background-color: #9ca1a3;
@primary-text-color: #ecefea;

@top-background-color: #284868;
@top-text-color: #ecefea;

@content-primary-background: #f7dca1;
@content-primary-text: #284868;